.container {
  margin: 14rem auto;
  display: inline-block;
  height: 35rem;
  width: 50rem;
  display: flex;
  border-radius: 2.5rem;
}
.container > * {
  width: 50%;
}
@media (max-width: 510px) {
  .container {
    flex-direction: column;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 2.5rem;
}
@media (max-width: 510px) {
  .result {
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
}
.result__box {
  width: 15rem;
  height: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.result__remark {
  margin-bottom: -0.1rem;
}
.result__average {
  display: inline;
  width: 63%;
  margin-bottom: 3.2rem;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 510px) {
  .summary {
    width: 100%;
    height: 50%;
  }
}
.summary > * {
  margin-left: 2.5rem;
}
.summary__listitem-box {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  font-size: 1.1rem;
}
.summary__listitem-box:not(:first-child) {
  margin-top: 1.1rem;
}
.summary__listitem-text {
  margin-right: auto;
  margin-left: 1.5rem;
}
.summary__continue {
  height: 3.5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
}

.container {
  box-shadow: 2rem 5rem 5rem hsl(221, 100%, 96%);
  overflow: hidden;
}
@media (max-width: 510px) {
  .container {
    box-shadow: 0;
  }
}

.result {
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
}
.result__heading {
  font-size: 1.5rem;
}
.result__box {
  background-image: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
}
.result__box-score {
  font-weight: 800;
  font-size: 5.5rem;
  color: white;
}
.result__remark {
  color: white;
  font-size: 2rem;
}
.result__average {
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.summary__text {
  color: hsl(224, 30%, 27%);
}
.summary__continue {
  background-color: hsl(224, 30%, 27%);
  border-radius: 100px;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  font-weight: 800;
}
.summary__continue:hover {
  background-image: linear-gradient(to right top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.red {
  background-color: hsla(0, 100%, 67%, 0.03);
  color: hsl(0, 100%, 67%);
}

.yellow {
  background-color: hsla(39, 100%, 56%, 0.03);
  color: hsl(39, 100%, 56%);
}

.green {
  background-color: hsla(166, 100%, 37%, 0.03);
  color: hsl(166, 100%, 37%);
}

.purple {
  background-color: hsla(234, 85%, 45%, 0.03);
  color: hsl(234, 85%, 45%);
}

.feint {
  color: hsla(224, 30%, 27%, 0.8);
}

.thick {
  color: hsl(224, 30%, 27%);
}/*# sourceMappingURL=style.css.map */